.card-container {
  height: 250px;
  width: calc(33.33% - 20px);
  border: 1px solid black;
  box-sizing: border-box;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  border-top: 10px solid rebeccapurple;
  text-align: center;
  position: relative;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, opacity 0.3s;
}

.card-enter {
  transform: scale(0.9);
  opacity: 0;
}

.card-enter-active {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.3s, opacity 0.3s;
}

.card-exit {
  transform: scale(1);
  opacity: 1;
}

.card-exit-active {
  transform: scale(0.9);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}

.icons-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.editicon,
.deleteicon {
  fill: red;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.editicon:hover,
.deleteicon:hover {
  fill: darkred;
}

.task-name {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
  margin-left: 20px;
}

.task-description {
  font-size: 1em;
  color: #333;
  margin-bottom: 30px;
  text-align: left;
}



@media (max-width: 1200px) {
  .card-container {
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .card-container {
    width: calc(100% - 20px);
  }
}